<div class="nested-fields">
	<div class="information_education">			
		<table>
			<tr>
				<td>
					Країна:
				</td>
				<td></td>
				<td>
					<div class="sel">
						<%= f.select :country, @countries_name %>	            					
					</div>
				</td>
			</tr>
			<tr>
				<td>
					Місто:
				</td>
				<td></td>
				<td>
					<%= f.text_field :town %>
				</td>
			</tr>
			<tr>
				<td>
					Назва Курсу:
				</td>
				<td></td>
				<td>
					<%= f.text_field :name_course %>
				</td>
			</tr>
			<tr>
				<td>
					Рік проведення:
				</td>
				<td></td>
				<td>
					<div class="sel">
				    	<%= f.date_select :year, :discard_day => true, :discard_month => true, :start_year => 1950 %>	
				    </div>
				</td>
			</tr>
			<tr>
				<td>
					Хто проводив:
				</td>
				<td></td>
				<td>
					<%= f.text_field :narrator_course %>
				</td>
			</tr>
			<tr>
				<td >
					Опис Курсу:
				</td>
				<td></td>
				<td>
					<%= f.text_area :description %>
				</td>
			</tr>
		</table>
		
	</div>
	</br>
	<div class="delete_school">
		Видалити курс <%= link_to_remove_association image_tag('delete.png'), f %>		
	</div>
</div>