<div class="container" >
	<ul class="nav nav-tabs">
		
		<% if @tab_index_profile_friends_menu == 1 %>
	    	<li class="active" ><%= link_to "Запити у друзі", friends_query_in_path %></li>
	    <%else%>
	    	<li ><%= link_to "Запити у друзі", friends_query_in_path %></li>
	    <%end%>				

	    <% if @tab_index_profile_friends_menu == 2 %>
	    	<li class="active" ><%= link_to "Друзі Online", friends_online_path %></li>
	    <%else%>
	    	<li ><%= link_to "Друзі Online", friends_online_path %></li>
	    <%end%>

	    <% if @tab_index_profile_friends_menu == 3 %>
	    	<li class="active" ><%= link_to "Усі Друзі", friends_all_path %></li>
	    <%else%>
	    	<li ><%= link_to "Усі Друзі", friends_all_path %></li>
	    <%end%>

	    <% if @tab_index_profile_friends_menu == 4 %>
	    	<li class="active" ><%= link_to "Ваші Запити", friends_query_to_path %></li>
	    <%else%>
	    	<li ><%= link_to "Ваші Запити", friends_query_to_path %></li>
	    <%end%>    
		
	</ul>	
</div>
<% flash.each do |key, value| %>
  	<div class="alert alert-<%= key %>"><%= value %>

	</div>
<% end %>