<div class="container" >
	<ul class="nav nav-tabs">
		
		<% if @tab_index_profile_message_menu == 1 %>
	    	<li class="active" ><%= link_to "Вхідні", messages_inbox_path %></li>
	    <%else%>
	    	<li ><%= link_to "Вхідні", messages_inbox_path %></li>
	    <%end%>				

	    <% if @tab_index_profile_message_menu == 2 %>
	    	<li class="active" ><%= link_to "Надіслані", messages_sent_path %></li>
	    <%else%>
	    	<li ><%= link_to "Надіслані", messages_sent_path %></li>
	    <%end%>

	    <% if @tab_index_profile_message_menu == 3 %>
	    	<% if @new_message_spam > 0%>
				<li class="active" ><%= link_to "Спам +"+ @new_message_spam.to_s, messages_spam_path %></li>
			<%else%>
				<li class="active" ><%= link_to "Спам", messages_spam_path %></li>
			<%end%>
		<%else%>
			<% if @new_message_spam > 0%>
				<li ><%= link_to "Спам +"+@new_message_spam.to_s, messages_spam_path %></li>
			<%else%>
				<li ><%= link_to "Спам", messages_spam_path %></li>
			<%end%>
		<%end%>					
	</ul>	
</div>
<% flash.each do |key, value| %>
  	<div class="alert alert-<%= key %>"><%= value %>

	</div>
<% end %>
  