<%= stylesheet_link_tag 'log', :media=> 'all' %>

<div class="tabbable tabs-left" style="margin-top: 25px"> <!-- Only required for left/right tabs -->
	<%= render 'layouts/profile'%>
	<div class="tab-content">
        <div class="tab-pane active" >
            <div class="avatar">
                <%= form_for @user, :url => {:controller=>"profiles", :action => "update_avatar", :id => current_user.id } do |f| %>
                    <%= image_tag @user.avatar.url, :size => "300x200" %></br>
                    <%= f.file_field :avatar %></br>
                    <%= f.submit("Upload") %>
                <% end %>
            </div>
        </div>        
	</div>
</div>