<%= stylesheet_link_tag 'log', :media=> 'all' %>
<%= stylesheet_link_tag 'profile_about_me', :media => "all" %>

<div class="tabbable tabs-left" style="margin-top: 25px"> <!-- Only required for left/right tabs -->
	<%= render 'layouts/profile'%>
	<div class="tab-content">
        <div class="tab-pane active" >
            <%= render 'about_me'%> 
            <div id="my_information">
            	<h1>Моя Інформація</h1>
            	<%= form_for @user, :url => {:controller=>"profiles", :action => "update_my_information", :id=> current_user.id} do |f|  %>
    				<div class="information">										        				        
					        <table>
						        <tr>
						        	<td style="width: 100px">
						        		E-mail:
						    		</td>
						    		<td></td>
						    		<td>
										<%= f.text_field :email %>
									</td >
								</tr>
								<tr>
									<td style="width: 100px">
										Ім'я:
									</td>
									<td></td>
									<td>
						        		<%= f.text_field :name %>		           
						        	</td>
						        </tr>
						        <tr>
						        	<td style="width: 100px">
						        		Прізвище:
						        	</td>
						        	<td></td>
						        	<td>
						        		<%= f.text_field :last_name %>
						        	</td>
						        </tr>
						        <tr>
									<td style="width: 100px">
						    			По Батькові:
						    		</td>
						    		<td></td>
						    		<td>
						    			<%= f.text_field :surname %>
						    		</td>
						    	</tr>
						    	<tr>
									<td style="width: 100px">
						    			Стать:
						    		</td>
						    		<td></td>
						    		<td>						    			
						    			<%= f.select :stat, ["Чоловіча", "Жіноча"] %>
						    		</td>
						    	</tr>						    	
						    	<tr>
									<td style="width: 100px">
						    			День народження:
						    		</td>
						    		<td></td>
						    		<td>						    			
						    			<%= f.date_select :birthday, :start_year => 1950 %>						    			
						    		</td>
						    	</tr>
						    	<tr>
									<td style="width: 100px">
						    			Сімейний стан:
						    		</td>
						    		<td></td>
						    		<td>						    			
						    			<%= f.select :marital_status, ["Одружений(-а)", "Неодружений(-а)", "Заручений(-a)", "Зустрічаюся","В пошуку", "Все складно"]%>						    			
						    		</td>
						    	</tr>
						        <tr>
						        	<td style="width: 100px">
						        		Телефон:
						        	</td>
						        	<td></td>
						        	<td>
						    			<%= f.text_field :phone%>
						    		</td>
								</tr>
								<tr>
									<td style="width: 100px">
						    			Nik Name:
						    		</td>
						    		<td></td>
						    		<td>
						    			<%= f.text_field :nik_name, :readonly=>:readonly %>
						    		</td>
						    	</tr>
					    	</table>
					    	</br>					    
				    	<%= f.submit "Зберегти"%> 
				    </div> 
    			<%end%>
            </div>           
        </div>        
	</div>
</div>
