<%= stylesheet_link_tag 'log', :media=> 'all' %>
<%= stylesheet_link_tag 'profile_my_page', :media => "all" %>
<%= javascript_include_tag 'profile/my_page' %>
<%= javascript_include_tag 'app' %>


<div class="tabbable tabs-left" style="margin-top: 25px"> <!-- Only required for left/right tabs -->
	<%= render 'layouts/profile'%>
	<div class="tab-content">
        <div class="tab-pane active" >
        	<% flash.each do |key, value| %>
  				<div class="alert alert-<%= key %>">
  					<%= value %>
				</div>
			<% end %>
            <table>
            	<tr>
            		<td style="vertical-align: top">
			            <div class="avatar" >
			            	<%= image_tag @user.avatar.url, :size => "300x360"%>
			        	</div>
			        	<%if @user.id != current_user.id%>
			        		<div id="friend_wrapr">
				        		<div id="friend">
				        			<%if @friend.nil? and @friend_two.nil?%>
				        				<%= form_for @user, :url => {:controller=>"profiles", :action => "query_to_add_friend", :id=> @user.id} do |f|  %>	          	                    				
		                        			<%= f.submit "Додати у друзі"%>                        			
		                        		<%end%>
		                        	<%elsif not @friend.nil? %>
		                        		<%= form_for @user, :url => {:controller=>"profiles", :action => "query_to_add_friend", :id=> @user.id} do |f|  %>	          	                    				
		                        			<%if @friend.query_to_friends == 1%>                        
		                        				<%= f.submit "Додати у друзі", :disabled=>'disabled'%>                        		
		                        			<%else%>
		                        				<%= f.submit "Додати у друзі"%>                        		
		                        			<%end%>	
		                        		<%end%>
		                        	<%elsif not @friend_two.nil? %>
		                        		<%= form_for @user, :url => {:controller=>"profiles", :action => "add_friend", :id=>@friend_two.id, :user_id=>@user.id} do |f|  %>	          	                		
		                        			<%= f.submit "Додати у друзі"%>                        			
		                        		<%end%>
		                        	<%end%>
		                        	

	                    			<%= form_for @user, :url => {:controller=>"profiles", :action => "delete_friend", :user_id=>@user.id, :id=>@user.id} do |f|  %>
	                    				<%unless @friend.nil?%>                        		                    				
		                    				<%if @friend.query_to_friends == 0%>                        
		                        				<%= f.submit "Видалити з друзів", :style=>"margin-top:-20px", :disabled=>'disabled' %>
		                        			<%else%>
		                        				<%= f.submit "Видалити з друзів", :style=>"margin-top:-20px"%>
		                        			<%end%>
		                        		<%else%>
		                        			<%= f.submit "Видалити з друзів", :style=>"margin-top:-20px", :disabled=>'disabled' %>
		                        		<%end%>
	                    			<%end%>
				        		</div>
			        		</div>
			        	<%end%>
			        </td>			        
			        <td style="vertical-align: top" >
			        	<div class="profile_content">
				        	<div class="titlename">
				        		<%= @user.name %> <%= @user.last_name%>				        		
				        	</div>
				        	<div id="online">
				        		<%if @time and @active%>
				        			<span>Online</span>			        		
				        		<%else%>
				        			<div>Остання присутність <%= @time_logout.utc.getlocal.strftime("%e %B %Y o %H:%M")%></div>		
				        		<%end%>
				        	</div>
				        	<%= render 'my_information_on_my_page'%>
				        	<%= render 'my_contacts_on_my_page'%>
				        	<%= render 'my_interests_on_my_page'%>				        	
				        	<%= render 'my_education_on_my_page'%>
				        	<%= render 'my_career_on_my_page'%>
			        	</div>
			        </td>
	        	</tr>
        	</table>
        </div>        
	</div>
</div>