<%= stylesheet_link_tag 'log', :media=> 'all' %>
<%= stylesheet_link_tag 'profile_my_page', :media => "all" %>
<%= stylesheet_link_tag 'lightbox' %>
<%= javascript_include_tag 'profile/my_page' %>
<%= javascript_include_tag 'app' %>
<%= javascript_include_tag 'lightbox' %>


<div class="tabbable tabs-left" style="margin-top: 25px"> <!-- Only required for left/right tabs -->
	<%= render 'layouts/profile'%>
	<div class="tab-content">
        <div class="tab-pane active" >
        	<% flash.each do |key, value| %>
  				<div class="alert alert-<%= key %>">
  					<%= value %>
				</div>
			<% end %>
            <table>
            	<tr>
            		<td style="vertical-align: top">
			            <div class="avatar" >
			            	<%= image_tag @user.avatar.url, :size => "300x360"%>
			        	</div>
			        	<%if @user.id != current_user.id%>
			        		<div id="friend_wrapr">
				        		<div id="friend">
				        			<%if @friend.nil? and @friend_two.nil?%>
				        				<%= form_for @user, :url => {:controller=>"profiles", :action => "query_to_add_friend", :id=> @user.id} do |f|  %>	          	                    				
		                        			<%= f.submit "Додати у друзі"%>                        			
		                        		<%end%>
		                        	<%elsif not @friend.nil? %>
		                        		<%= form_for @user, :url => {:controller=>"profiles", :action => "query_to_add_friend", :id=> @user.id} do |f|  %>	          	                    				
		                        			<%if @friend.query_to_friends == 1%>                        
		                        				<%= f.submit "Додати у друзі", :disabled=>'disabled'%>                        		
		                        			<%else%>
		                        				<%= f.submit "Додати у друзі"%>                        		
		                        			<%end%>	
		                        		<%end%>
		                        	<%elsif not @friend_two.nil? %>
		                        		<%= form_for @user, :url => {:controller=>"profiles", :action => "add_friend", :id=>@friend_two.id, :user_id=>@user.id} do |f|  %>	          	                		
		                        			<%= f.submit "Додати у друзі"%>                        			
		                        		<%end%>
		                        	<%end%>
		                        	

	                    			<%= form_for @user, :url => {:controller=>"profiles", :action => "delete_friend", :user_id=>@user.id, :id=>@user.id} do |f|  %>
	                    				<%unless @friend.nil?%>                        		                    				
		                    				<%if @friend.query_to_friends == 0%>                        
		                        				<%= f.submit "Видалити з друзів", :style=>"margin-top:-20px", :disabled=>'disabled' %>
		                        			<%else%>
		                        				<%= f.submit "Видалити з друзів", :style=>"margin-top:-20px"%>
		                        			<%end%>
		                        		<%else%>
		                        			<%= f.submit "Видалити з друзів", :style=>"margin-top:-20px", :disabled=>'disabled' %>
		                        		<%end%>
	                    			<%end%>
				        		</div>
			        		</div>
			        	<%end%>
			        	<% unless @friends_count.eql?(0)%>
				        	<div id="show_info_friends">
				        		<div class='title_block'>
				        			<%= link_to "Мої друзі", friends_all_path(@user.id)%>
				        		</div>
				        		<div class='count_block'>
				        			 Всього друзів <%=@friends_count%>
				        		</div>
				        		<div class="main_menu_block">			        			
				        			<table style="margin-left: 4px;">
				        				<% @index_f = 0 %>
					        			<%@friends.each do |friend|%>
					        				<%if (@index_f % 5) == 0%>
					        					<tr></tr>
					        				<%end%>
						        			<%@user_f = User.find(friend.friend)%>
						        			<td class='image_width'>
						        				<%= link_to image_tag(@user_f.avatar.url(:very_little), :title=>@user_f.name+" "+@user_f.last_name, :class=>"image_hover"), profile_path(@user_f)%>
						        				<div class='notate_block'>
							        				<span id="span_name"><%=@user_f.name%></span>
							        				<p id="span_last_name"><%=@user_f.last_name%></p>
						        				</div>					        				
						        			</td>
						        			<% @index_f += 1%>
					        			<%end%>				        			
				        			</table>
				        		</div>			        		
				        	</div>
			        	<%end%>
			        	<div id="show_info_friends_online">
			        		<div class='title_block'>
			        			<%= link_to "Мої друзі online", friends_online_path(@user.id)%>
			        		</div>
			        		<div class='count_block'>
			        			 Друзів Online <span id="insert_her_count"></span>
			        		</div>
			        		<div class="main_menu_block">			        			
			        			<table style="margin-left: 4px;">
			        				<% @index_f = 0 %>
				        			<%@friends.each do |friend|%>
				        				<%if (@index_f % 5) == 0%>
				        					<tr></tr>
				        				<%end%>
					        			<%@user_online = User.find(friend.friend)%>
					        			<%unless @user_online.status_active.nil?%>
					                        <%if (Time.now-@user_online.status_active) < 60%>
					                            <%@active_second = true%>
					                        <%else%>
					                            <%@active_second = false%>
					                        <%end%>
					                    <%else%>
					                        <%@active_second = false%>
					                    <%end%>
					        			<%if @user_online.count_time_logout < @user_online.sign_in_count and @active_second%>
						        			<td class='image_width'>
						        				<%= link_to image_tag(@user_online.avatar.url(:very_little), :title=>@user_online.name+" "+@user_online.last_name, :class=>"image_hover"), profile_path(@user_online)%>
						        				<div class='notate_block'>
							        				<span id="span_name"><%=@user_online.name%></span>
							        				<p id="span_last_name"><%=@user_online.last_name%></p>
						        				</div>					        				
						        			</td>
						        			<% @index_f += 1%>
						        			<%@online_users += 1 %>
						        		<%end%>
				        			<%end%>				        			
			        			</table>
			        		</div>			        		
			        	</div>
			        	<input type="hidden" value=<%=@online_users %> id="online_users">			        	
			        	<% unless @fotos_count.eql?(0)%>
				        	<div id="show_info_fotos">
				        		<div class='title_block'>
				        			<%= link_to "Мої фото", albums_path(@user.id)%>
				        		</div>
				        		<div class='count_block'>
				        			 Всього <%=@fotos_count%>
				        		</div>
				        		<div class="main_menu_block">
				        			<div class="imageRow">
										<div class="set">
									    	<% @index = 1%>
									    	<% unless @fotos_on_my_page.blank?%>
										    	<%@fotos_on_my_page.each do |foto|%>		  	
											  		<% if @index == 1%>
												  	    <div class="single first">
												  		  <%= link_to image_tag(foto.foto.url(:very_little), :alt=>foto.foto_file_name), foto.foto.url(:medium), :rel=>"lightbox[plants]", :title=>foto.description%>
												  		</div>
												  		<% @index += 1 %>
													<%elsif @index.eql?(8)%>
												        <div class="single last">
												  		  <%= link_to image_tag(foto.foto.url(:very_little), :alt=>foto.foto_file_name), foto.foto.url(:medium), :rel=>"lightbox[plants]", :title=>foto.description%>
												        </div>		     
												        <% break %>   
											        <%else%>
												        <div class="single">
												  		  <%= link_to image_tag(foto.foto.url(:very_little), :alt=>foto.foto_file_name), foto.foto.url(:medium), :rel=>"lightbox[plants]", :title=>foto.description%>
												        </div>
												        <% @index += 1 %>
											        <%end%>		  			    
											    <%end%>	
											<%end%>	
									    </div>
									</div>
				        		</div>
				        	</div>
				        <%end%>
			        </td>			        
			        <td style="vertical-align: top" >
			        	<div class="profile_content">
				        	<div class="titlename">
				        		<%= @user.name %> <%= @user.last_name%>				        		
				        	</div>
				        	<div id="online">
				        		<%if @time and @active%>
				        			<span>Online</span>			        		
				        		<%else%>
				        			<div>Остання присутність <%= @time_logout.utc.getlocal.strftime("%e %B %Y o %H:%M")%></div>		
				        		<%end%>
				        	</div>
				        	<%= render 'my_information_on_my_page'%>
				        	<%= render 'my_contacts_on_my_page'%>
				        	<%= render 'my_interests_on_my_page'%>				        	
				        	<%= render 'my_education_on_my_page'%>
				        	<%= render 'my_career_on_my_page'%>
			        	</div>
			        </td>
	        	</tr>
        	</table>
        </div>        
	</div>
</div>