<%= stylesheet_link_tag 'capital', :media => "all" %>
<%= javascript_include_tag 'map/capitals' %>

<div id="layout_capital">
	<div id="left">
	<ul class="capital_capcha">
		<li><%= link_to 'Title_Left_1', '#'%></li>
		<li><%= link_to 'Title_Left_2', '#'%></li>
		<li><%= link_to 'Title_Left_3', '#'%></li>
		<li><%= link_to 'Title_Left_4', '#'%></li>
		<li><%= link_to 'Title_Left_5', '#'%></li>
	</ul>			
	</div>
	<div id="top_center">
		<h2>Столиці світу: <%=@capital.name%></h2>
	</div>	
	<div id="center">
		<h2>Title</h2>
		<p class="description">			
			<%=@capital.description%>
			<%=@capital.description%>
			<%=@capital.description%>
		</p>
		
	</div>
	<div id="right">
		<ul class="capital_capcha_right">
			<li><%= link_to 'Title_Right_1', '#'%></li>
			<li><%= link_to 'Title_Right_2', '#'%></li>
			<li><%= link_to 'Title_Right_3', '#'%></li>
			<li><%= link_to 'Title_Right_4', '#'%></li>
			<li><%= link_to 'Title_Right_5', '#'%></li>
		</ul>
	</div>
</div>