<%= stylesheet_link_tag 'country', :media => "all" %>
<%= javascript_include_tag 'map/countries' %>

<div id="layout_country">
	<div id="left">
		<div id="flag">
			<p>Національний Прапор</p>
			<%= image_tag('flags/big/'+@country.country+'.png')%>
		</div>
		<div id="gerb">
			<p>Національний Герб</p>
			<%= image_tag('flags/gerb/'+@country.country+'.jpg') %>
		</div>
		<div id="gimn">
			<p>Національний Гімн</p>
			<object type="application/x-shockwave-flash" data='<%=asset_path("player/dewplayer-vol.swf")%>?mp3=<%= url_for(:controller => "maps", :action => "download_hymn", :id => @country.id)%>' width="240" height="20" id="dewplayer-vol">
				<param name="wmode" value="transparent" />
				<param name="movie" value='<%=asset_path("player/dewplayer-vol.swf")%>?mp3=<%= url_for(:controller => "maps", :action => "download_hymn", :id => @country.id)%>' />
			</object>			
		</div>
		<ul class="country_capcha">
			<li><%= link_to 'Title_Left_1', '#'%></li>
			<li><%= link_to 'Title_Left_2', '#'%></li>
			<li><%= link_to 'Title_Left_3', '#'%></li>
			<li><%= link_to 'Title_Left_4', '#'%></li>
			<li><%= link_to 'Title_Left_5', '#'%></li>
		</ul>
		<p class="city">Міста:</p>
			<select id="city">			
				<option value="empty" id="0">Виберіть місто</option>
				<% @cities.each do |city|%>
					<option value="<%=city.city%>" id=<%=city.id%> > <%=city.city%> </option>
				<%end%>
			</select>			
	</div>
	<div id="top_center">
		<h2>Країни світу: <%=@country.country%></h2>
	</div>	
	<div id="center">
		<h2>Title</h2>		
		<p class="description something">			
			Something, Something, Something
		</p>
		<p class="description country_info">			
			<%=@country.description%>
			<%=@country.description%>
			<%=@country.description%>
		</p>
		<p class="description_about_city">
			<%= render 'description_city'%>    
		</p>		

	</div>
	<div id="right">
		<ul class="country_capcha_right">
			<li><%= link_to 'Title_Right_1', '#'%></li>
			<li><%= link_to 'Title_Right_2', '#'%></li>
			<li><%= link_to 'Title_Right_3', '#'%></li>
			<li><%= link_to 'Title_Right_4', '#'%></li>
			<li><%= link_to 'Title_Right_5', '#'%></li>
		</ul>
	</div>
</div>