<title>Map Africa</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<%= stylesheet_link_tag 'map', :media => "all" %>
<%= javascript_include_tag 'map/africa' %>
<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyBeXFFgiHLl77awSoWCpcIfnvUhRgWFcCg&sensor=true&language=uk"%>

<body >

	<div id="map_canvas" ></div>
	<div class="panel">
	
		<p>&nbsp;</p>
		<p>Країни:</p>
		<select id="country">			
			<option value="empty" id="0">Виберіть країну</option>
			<% @countries.each do |country|%>
			<option value=<%=country.country%> id=<%=country.id%> > <%=country.country%> </option>
			<%end%>
		</select>
		
		<p>Столиці:</p>
		<select id="capital">			
			<option value="empty" id="0">Виберіть столицю</option>
			<% @capitals.each do |capital|%>
			<option value=<%=capital.name%> id=<%=capital.id%> ><%=capital.name%></option>
			<%end%>
		</select>
		<br>
		<div id="description">
			<%= render 'africa_description_country'%>    
			<%= render 'africa_description_capital'%>
		</div>		
	</div>

</body>
</html>