<title>Map Africa</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<%= stylesheet_link_tag 'map', :media => "all" %>
<%= stylesheet_link_tag 'select2', :media => "all" %>
<%= javascript_include_tag 'select2' %>
<%= javascript_include_tag 'map/maps' %>
<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?key=AIzaSyBeXFFgiHLl77awSoWCpcIfnvUhRgWFcCg&sensor=true&language=uk"%>

<body >
    <input type ="hidden" data-zoom=<%=@part_of_the_world.zoom%> data-coordinateX=<%=@part_of_the_world.X_coordinate%> data-coordinateY=<%=@part_of_the_world.Y_coordinate%> id="part_of_the_world_data" data-name=<%=@part_of_the_world.title%>>	
	
	<div id="map_canvas" ></div>
	<div class="panel">
		<% flash.each do |key, value| %>
  			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>
		<p>&nbsp;</p>
		<input type="text" data-provide="typeahead" id="information" placeholder="Введіть для пошуку">
		<%= image_tag("button_next.png", :title=>'Пошук', :id=>'search') %>
		
		<p>Країни:</p>
		<select id="country">			
			<option value="empty" id="0">Виберіть країну</option>
			<% @countries.each do |country|%>
			<option value="<%=country.country%>" id=<%=country.id%> > <%=country.country%> </option>
			<%end%>
		</select>
		
		<p style='margin-top: 10px'>Столиці:</p>
		<select id="capital">			
			<option value="empty" id="0">Виберіть столицю</option>
			<% @capitals.each do |capital|%>
			<option value="<%=capital.name%>" id=<%=capital.id%> ><%=capital.name%></option>
			<%end%>
		</select>
		
		<p style='margin-top: 10px'>Міста:</p>
		<select id="city">			
			<option value="empty" id="0">Виберіть місто</option>
			<% @cities.each do |city|%>
			<option value="<%=city.city%>" id=<%=city.id%> ><%= image_tag('delete.png')%><%=city.city%></option>
			<%end%>
		</select>
		
		<div id="description" style='margin-top: 10px'>
			<%= render 'description_country'%>    
			<%= render 'description_capital'%>
			<%= render 'description_city'%>
		</div>		
	</div>

</body>
</html>
