<%= render 'layouts/admin'%>
<%= render 'admin_messages'%>
<%= javascript_include_tag 'admin/messages/inbox' %>

<div class="inbox">
	<h3>Ваші вхідні повідомлення</h3>	
	<h4>У вас нових повідомлень: <%= @read_status_count%></h4>
	
	<div class="digg_pagination">
		<div class="page_info">
			<%= page_entries_info @messages%>    		
		</div>		
		<%= will_paginate @messages%>
	</div>
	
	<table class="brep-table" cellpadding="0" cellspacing="0">
		<thead class="tbl-header">
    		<tr class="gray">
      			<th class="tbl-item-rate">
        			<div> # п/п</div>
        		</th>
      			<th>
        			<div> Від кого </div>
    			</th>
      			<th>
        			<div> Кому </div>
        		</th>
      			<th>
        			<div> Заголовок </div>
        		</th>
      			<th>
        			<div> Дата </div>
        		</th>      			
    		</tr>
    	</thead>
    	<% @messages.each do |message|%>
    	<thead>
    		<% if message.read_message.eql?("not_read")%>
	    		<tr class="bold" >
	    			<%= render 'table_thead', :message => message%>
	    		</tr>
    		<%else%>
	    		<tr>
	    			<%= render 'table_thead', :message => message%>
	    		</tr>
	    	<%end%>
    	</thead>
    	<tbody>
    		<tr >
    			<td colspan = "5" align="left" >
    				<div class="text_message">
	    				<b>Від кого:</b>
	    				<%= message.who_send_mail %></br>
	    				<b>Заголовок:</b>
	    				<%= message.subject %></br>
	    				<b>Текст повідомлення:</b></br>
	    				<%= message.description %>
    				</div>
    			</td>
    		</tr>
    	</tbody>
    	<% @index += 1 %>
    	<%end%>
	</table>             

</div>