<%= stylesheet_link_tag 'page_search', :media=> 'all' %>
<%= javascript_include_tag 'page/search' %>

<div id='title_description'>
	На даній сторінці можна здійснити пошук інформації, яка вас цікавить.
</div>
<div id='panel_left'>
	<div id='wrap_panel_left'>
		Panel1
	</div>
</div>
<div id='result'>
	<div id='wrap_search'>
        <div id='search_user'>
            <input type='text' id='search' placeholder="Введіть ім'я користувача">
            <button>Знайти</button>
        </div>
    </div>
    <%= render 'result_search'%>		

</div>
<div id='panel_right'>
	<div id='wrap_panel_right'>
		<h5>Країна</h5>
		<select id="country_name">			
			<option value="empty" id="0">Виберіть Країну</option>
			<% @countries.each do |country|%>
				<option value="<%=country.country%>" id=<%=country.id%> > <%=country.country%> </option>
			<%end%>
		</select>
		<%= render 'select_city'%>
		<h5>Стать</h5>
		<div class='group_radiobuttons'>
			<input type='radio' name='stat' value='Не важливо' checked/> <i>Не важливо</i></br>
			<input type='radio' name='stat' value='Чоловіча'/> <i>Чоловіча</i></br>
			<input type='radio' name='stat' value='Жіноча'/> <i>Жіноча</i></br>
		</div>
	</div>
</div>
