<%= stylesheet_link_tag 'admin'%>

<div id="admin_login">
<h3>Admin Log In</h3>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="admin_login"><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div class="admin_login"><%= f.label :password %>
  <%= f.password_field :password %></div>

  

  <div class="submit"><%= f.submit "Sign in" %></div>
<% end %>

</div>