<%= stylesheet_link_tag 'admin_content'%>

<div id="admin_toolbar_top">
	
	</br>
		<h3>Title of Site</h3>
	</br>
	</br>

</div>
<div id="admin_toolbar">
	<div class="btn-group ">
		<%if @tab_index_menu == 1%>
			<button class="btn active"><%= link_to "Статистика", admin_root_path%></button>
		<%else%>
			<button class="btn"><%= link_to "Статистика", admin_root_path%></button>
		<%end%>
		
		<%if @tab_index_menu == 2%>
	    	<button class="btn active"><%= link_to "Користувачі", show_user_info_admin_users_path%></button>
	    <%else%>
	    	<button class="btn"><%= link_to "Користувачі", show_user_info_admin_users_path%></button>
		<%end%>
	    
	    <%if @tab_index_menu == 3%>
	    	<button class="btn active"><%= link_to "Повідомлення", inbox_admin_messages_path%></button>
	    <%else%>
	    	<button class="btn"><%= link_to "Повідомлення", inbox_admin_messages_path%></button>
		<%end%>
	    
	    <%if @tab_index_menu == 4%>
	    	<button class="btn active"><%= link_to "Додати місцевість", add_hymn_admin_add_places_path%></button>
	    <%else%>
	    	<button class="btn"><%= link_to "Додати місцевість", add_hymn_admin_add_places_path%></button>
		<%end%>
	    
	    <%if @tab_index_menu == 5%>
	    	<button class="btn active"><%= link_to "Налаштунки", admin_settings_path%></button>    
	    <%else%>
	    	<button class="btn"><%= link_to "Налаштунки", admin_settings_path%></button>    
	    <%end%>

	    <%if @tab_index_menu == 6%>
	    	<button class="btn active"><%= link_to "Моя Інформація", foto_admin_my_informations_path%></button>    
	    <%else%>
	    	<button class="btn"><%= link_to "Моя Інформація", foto_admin_my_informations_path%></button>    
	    <%end%>
	    
	    <button class="btn"><%= link_to "Вийти", logout_path, :method => "delete" %></button>
	</div>
</div>


