<%= stylesheet_link_tag 'admin_content'%>
<div id="admin_toolbar_top">
</br>
<h3>Title of Site</h3>
</br>
</br>
</div>
<div id="admin_toolbar">
	<div class="btn-group ">
		<button class="btn"><%= link_to "Статистика", admin_root_path%></button>
	    <button class="btn"><%= link_to "Користувачі", admin_users_path%></button>
	    <button class="btn"><%= link_to "Повідомлення", admin_messages_path%></button>
	    <button class="btn"><%= link_to "Додати місцевість", admin_add_places_path%></button>
	    <button class="btn"><%= link_to "Налаштунки", admin_settings_path%></button>    
	    <button class="btn"><%= link_to "Вийти", logout_path, :method => "delete" %></button>
	</div>
</div>


