<header>
		
           <div class="navbar-inner">
              
					<ul class="nav nav-pills pull-right">					
						<li><%= link_to "Setting", "#"%></li>
						<li><%= link_to "Message", "#"%></li>						
						<li><%= link_to "About Us", about_path%></li>			
						<li><%= link_to "Help", help_path%></li>							
						<li><a href="#">Log out</a></li>						
					</ul>

					<ul class="nav nav-pills pull-left">
						<li><a href="http://vk.com", title="G", alt="G"><%= image_tag("img/logo.jpg", :alt => "G") %></a></li>					
						<li><%= link_to "Home", root_path%></li>
						<li><%= link_to "Profile", "#"%></li>						
					</ul>
				
			
		</div>
		
	</header>