<header>
		
           <div class="navbar-inner">
              <div class="container">
					<ul class="nav nav-pills pull-right">					
						<li><%= link_to "Setting", "#"%></li>
						<li><%= link_to "Message", send_path%></li>						
						<li><%= link_to "About Us", about_path%></li>			
						<li><%= link_to "Help", help_path%></li>							
						<li ><%= link_to "Logout", logout_path%></li>						
					</ul>

					<ul class="nav nav-pills pull-left">
						<li><a href="http://vk.com", title="G", alt="G"><%= image_tag("img/logo.jpg", :alt => "G") %></a></li>					
						<li><%= link_to "Home", root_path%></li>
						<li><%= link_to "Profile", my_page_path%></li>						
					</ul>					
			</div>				
				
			
		</div>
		
	</header>